@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");

:root {
  --acc: #b75fd0;
  --acc-soft: #d18ce8;
  --acc-dim: #9a4bb5;
}

body {
  font-family: "Inter", sans-serif;
  background: #0a0a0d;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background: #b75fd0;
  color: #0a0a0d;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #2b2b33;
  border-radius: 99px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--acc-dim);
}
